<div class="container">

    <h2>Вы действительно хотите выйти?</h2>

    <a type="button" class="btn btn-default"
       asp-controller="Account" asp-action="Logout">
        Да
    </a>

    <a type="button" class="btn btn-default"
       asp-controller="Home" asp-action="Index">
        Нет
    </a>

</div>