<div class="mainmenu pull-left">
	<ul class="nav navbar-nav collapse navbar-collapse">
		<li><a asp-controller="Home" asp-action="Index" class="active">Главная</a></li>
		<li class="dropdown">
			<a href="#">Магазин<i class="fa fa-angle-down"></i></a>
			<ul role="menu" class="sub-menu">
				<li><a asp-controller="Catalog" asp-action="Index">Каталог</a></li>
				<li><a asp-controller="Cart" asp-action="Index">Корзина</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#">Blog<i class="fa fa-angle-down"></i></a>
			<ul role="menu" class="sub-menu">
				<li><a asp-controller = "Blogs" asp-action="Index">Список блогов</a></li>
				<li><a asp-controller="Blogs" asp-action="Blog">Блог магазина</a></li>
			</ul>
		</li>
		<li><a asp-controller="Home" asp-action="Contacts">Контакты</a></li>
		@*<li><a asp-controller="WebAPI" asp-action="Index">WebAPI</a></li>*@
		
	</ul>
</div>
